In [134]:
library(dplyr)

In [135]:
wd <- "/mnt/gmi-analysis01/_90.User_Data/juhyunk/project/Lung_Virome/YM"
copd <- dir(paste0(wd,"/COPD"))[grep("-COPD",dir(paste0(wd,"/COPD")))]
head(copd)

[1] "090743N-COPD" "090815N-COPD" "103907N-COPD" "1047-COPD"    "1088-COPD"
[6] "1092-COPD"

In [137]:
copdTab <- data.frame()
sample <- "090743N"
copdTab <- read.table(paste0(wd,"/COPD/",sample,"-COPD/Bracken/",sample,"-COPD.Standard.bracken.out"), sep = '\t', header=T)[c(2)]

for ( sample in copd) {
    #sample <- gsub("-COPD","",sample)
    # print(sample)
    copdTab0 <- read.table(paste0(wd,"/COPD/",sample,"/Bracken/",sample,".Standard.bracken.out"), sep = '\t', header=T)[c(2,6)]
    colnames(copdTab0) <- c("taxonomy_id",sample)
    copdTab <- full_join(copdTab, copdTab0,by = 'taxonomy_id')
}

In [138]:
head(copdTab)

  taxonomy_id 090743N-COPD 090815N-COPD 103907N-COPD 1047-COPD 1088-COPD
1   9606      1465155      1763574      1279781      2422688   2275810
2    305        25205          455         1565          173       130
3 105219           15           NA           NA           NA        NA
4  82541           16           NA           NA           NA        NA
5 265293           16           NA           11           NA        NA
6  47671           12           NA           NA           NA        NA
  1092-COPD 1141-COPD 12-COPD 1332-COPD ⋯ 578-COPD 634-COPD 648-COPD 704-COPD
1 2105480   2122402   3332101 1958977   ⋯ 1409723  2307327  1997532  1864756
2     387       152       236     175   ⋯     119      429       48       88
3      NA        NA        NA      NA   ⋯      NA       NA       NA       NA
4      NA        NA        NA      NA   ⋯      NA       NA       NA       NA
5      NA        NA        NA      NA   ⋯      NA       NA       NA       NA
6      NA        NA        NA      NA   ⋯      NA       NA       NA       NA
  743-COPD 815-COPD 821-COPD 852-COPD 964-COPD 984-COPD
1 3072239  1624804  2250511  1598926  1957495  1588152
2     249      308      358     1304      238     6941
3      NA       NA       NA       NA       NA       NA
4      NA       NA       NA       NA       NA       NA
5      NA       NA       NA       NA       NA       NA
6      NA       NA       NA       NA       NA       NA

In [139]:
wd <- "/mnt/gmi-analysis01/_90.User_Data/juhyunk/project/Lung_Virome/YM"
nor <- dir(paste0(wd,"/Normal"))[grep("-NOR",dir(paste0(wd,"/Normal")))]
head(nor)

[1] "1017-NOR" "1079-NOR" "1083-NOR" "110-NOR"  "1125-NOR" "1199-NOR"

In [141]:
norTab <- data.frame()
sample <- nor[1]
norTab <- read.table(paste0(wd,"/Normal/",sample,"/Bracken/",sample,".Standard.bracken.out"), sep = '\t', header=T)[c(2)]

for ( sample in nor) {
    #sample <- gsub("-COPD","",sample)
    # print(sample)
    norTab0 <- read.table(paste0(wd,"/Normal/",sample,"/Bracken/",sample,".Standard.bracken.out"), sep = '\t', header=T)[c(2,6)]
    colnames(norTab0) <- c("taxonomy_id",sample)
    norTab <- full_join(norTab, norTab0,by = 'taxonomy_id')
}

In [142]:
head(norTab)

  taxonomy_id 1017-NOR 1079-NOR 1083-NOR 110-NOR 1125-NOR 1199-NOR 1207-NOR
1    9606     2151175  1542898  26714196 1886516 5787345  3267488  2103781
2     305        1527      543      2788    2720   38918    24966    14964
3   96344          26       NA        23     154      39       83      793
4  164546          17       59        NA      NA      34       12       16
5  134537          31       25        NA      NA      NA       NA       NA
6 2184519          63       20        NA      16      37       87       67
  1264-NOR 1334-NOR ⋯ 55-NOR  572-NOR 581-NOR 640-NOR 681-NOR 750-NOR 841-NOR
1 2066913  1887467  ⋯ 1884450 1531454 1620453 1850855 1700453 3535606 4866135
2     104     2057  ⋯     680     124    1419     117    3827    4402    5793
3      51       28  ⋯     221      NA      53      78      85      23     156
4      NA       NA  ⋯      NA      NA      NA      NA      46      NA      19
5      13       13  ⋯      15      NA      17      NA      17      NA      NA
6      23       10  ⋯      14      13      16      24      43      32     190
  899-NOR 935-NOR 987-NOR
1 2673537 1704221 1814028
2     152    1086     985
3      92      29      30
4      NA      NA      NA
5      27      NA      23
6      NA      24      15

In [143]:
system(paste0("cat ",wd,"/*/*/Bracken/*.Standard.bracken.out | cut -f 1,2 | sort | uniq > ", wd,"/tmp.header.txt"))
matchTable <- read.table(paste0(wd,"/tmp.header.txt"), sep ='\t')
colnames(matchTable) <- c("name","taxonomy_id")

In [144]:
copdTab$taxonomy_id <- as.character(copdTab$taxonomy_id)
norTab$taxonomy_id <- as.character(norTab$taxonomy_id)
matchTable$taxonomy_id <- as.character(matchTable$taxonomy_id)

In [145]:
finalTable <- full_join(matchTable,full_join(norTab, copdTab,by = "taxonomy_id"),by = "taxonomy_id")

In [146]:
finalTable[is.na(finalTable)] <- 0

In [147]:
head(finalTable)

  name                                   taxonomy_id 1017-NOR 1079-NOR 1083-NOR
1 Abiotrophia defectiva                  46125       0        0         0
2 Achromobacter spanius                  217203      0        0         0
3 Achromobacter xylosoxidans             85698       0        0         0
4 Acidaminococcus fermentans             905         0        0         0
5 Acidipropionibacterium acidipropionici 1748        0        0        15
6 Acidisarcina polymorpha                2211140     0        0         0
  110-NOR 1125-NOR 1199-NOR 1207-NOR 1264-NOR ⋯ 578-COPD 634-COPD 648-COPD
1 0       10       0        0        0        ⋯ 0        0         0
2 0        0       0        0        0        ⋯ 0        0         0
3 0        0       0        0        0        ⋯ 0        0         0
4 0        0       0        0        0        ⋯ 0        0        11
5 0        0       0        0        0        ⋯ 0        0         0
6 0        0       0        0        0        ⋯ 0        0         0
  704-COPD 743-COPD 815-COPD 821-COPD 852-COPD 964-COPD 984-COPD
1  0       0        0        0         0       0         0
2  0       0        0        0         0       0         0
3  0       0        0        0         0       0         0
4 11       0        0        0         0       0         0
5  0       0        0        0        23       0        11
6  0       0        0        0         0       0         0

In [148]:
write.table(finalTable,paste0(wd, "/COPD.NOR.Bracken.Standard.txt"),sep='\t',quote = F, row.names = F)